@charset "UTF-8";
@font-face {
    font-family: 'titulo';
    src: url(../fontes/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;00&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
:root {
    --branco-ffffff: #ffffff;
    --branco-e5e5e5: #e5e5e5;
    --preto-222: #222;
    --azul-007ced: #007ced;
    --cinza-4444: #444;
    --cinza-333: #333;
    --preto-rgba-00005: rgba(0, 0, 0, 0.5);
    --preto-rgb-00078: rgb(0 0 0 / 78%);
    --preto-rgba-00001: rgba(0, 0, 0, 0.1);
}
body {
    overflow: hidden;
}
.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: var(--preto-222);
}
.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i {
    height: 45px;
    width: 45px;
    background-color: var(--azul-007ced);
    border-radius: 50%;
    color: var(--branco-ffffff);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text {
    font-size: 1.6em;
    font-weight: 500;
    color: var(--branco-ffffff);
}
nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span {
    display: block;
    background-color: var(--azul-007ced);
    margin: 5px 0;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks {
    list-style-type: none;
}
nav .navlinks li {
    display: inline-block;
}
nav .navlinks li a {
    color: var(--branco-e5e5e5);
    margin-right: 2.5rem;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid var(--cinza-4444);
    box-shadow: 5px 7px 25px var(--preto-rgba-00005);
}
.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.hero-pic img:hover {
    transform: scale(1.2);
}
.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5 {
    color: var(--branco-e5e5e5);
    font-size: 14px;
}
.hero-text h5 span {
    color: var(--azul-007ced);
    font-size: 16px;
}
.hero-text h1 {
    color: var(--azul-007ced);
    font-size: 2rem;
}
.hero-text p {
    color: var(--branco-e5e5e5);
}
.btn-group {
    margin: 45px 0;
}
.btn-group .btn {
    border-color: var(--branco-e5e5e5);
    color: var(--branco-ffffff);
    background-color: var(--cinza-333);
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid var(--branco-e5e5e5);
    box-shadow: 0 10px 10px -8px var(--preto-rgb-00078);
}
.btn.active {
    border-color: var(--azul-007ced);
}
.hero-text .social i {
    color: var(--branco-e5e5e5);
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
    padding: 15px 0 0 0;
}
.hero-text .social i:hover {
    color: var(--azul-007ced);
    transform: rotate(360deg);
}
/* Respnosiv design & displaying navbar for small screen */
@media (max-width: 790px) {
    nav .togglebtn {
        display: initial;
    }
    /* for toggle button */
    .click {
        top: 45px;
    }
    .click span {
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform: rotate(-40deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks {
        position: absolute;
        top: 110px;
        right: 100%; /* -100% */
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: var(--preto-222);
        z-index: 3;
        box-shadow: 5px 13px 30px var(--preto-rgba-00001);
        transition: 0.5s;
        padding: 25px 0;
    }
    nav .navlinks li {
        display: block;
    }
    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open {
        right: 0;
    }
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text {
        padding: 40px 0;
    }
}