@charset "UTF-8";
@font-face {
    font-family: 'titulo';
    src: url(../fontes/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;00&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
:root {
    --branco-ffffff: #ffffff;
    --branco-e5e5e5: #e5e5e5;
    --preto-222: #222;
    --azul-007ced: #007ced;
    --cinza-4444: #444;
    --cinza-333: #333;
    --preto-rgba-00005: rgba(0, 0, 0, 0.5);
    --preto-rgb-00078: rgb(0 0 0 / 78%);
    --preto-rgba-00001: rgba(0, 0, 0, 0.1);
}
.cabecalho {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    background: var(--preto-222);
}
.cabecalho-corpo {
    width: 1280px;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}
.cabecalho-principal {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i {
    height: 45px;
    width: 45px;
    background-color: var(--azul-007ced);
    border-radius: 50%;
    color: var(--branco-ffffff);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-texto {
    font-size: 1.6em;
    font-weight: 500;
    color: var(--branco-ffffff);
}
nav .menu {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .menu span {
    display: block;
    background-color: var(--azul-007ced);
    margin: 5px 0;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .menu-texto {
    list-style-type: none;
}
nav .menu-texto li {
    display: inline-block;
}
nav .menu-texto li a {
    color: var(--branco-e5e5e5);
    margin-right: 2.5rem;
}
.conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.conteudo .cabecalho-imagem {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid var(--cinza-4444);
    background: var(--branco-ffffff);
    box-shadow: 5px 7px 25px var(--preto-rgba-00005);
}
.cabecalho-imagem img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.cabecalho-imagem img:hover {
    transform: scale(1.2);
}
.conteudo-principal {
    width: 400px;
    display: flex;
    flex-direction: column;
}
.conteudo-principal h5 {
    color: var(--branco-e5e5e5);
    font-size: 14px;
}
.conteudo-principal h5 span {
    color: var(--azul-007ced);
    font-size: 16px;
}
.conteudo-principal h1 {
    color: var(--azul-007ced);
    font-size: 2rem;
}
.conteudo-principal p {
    color: var(--branco-e5e5e5);
    padding: 5px 0 5px 0;
}/*
.btn-grupo {
    margin: 45px 0;
}
.btn-grupo .btn {
    border-color: var(--branco-e5e5e5);
    color: var(--branco-ffffff);
    background-color: var(--cinza-333);
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid var(--branco-e5e5e5);
    box-shadow: 0 10px 10px -8px var(--preto-rgb-00078);
}
.btn.active {
    border-color: var(--azul-007ced);
}*/
.conteudo-principal .midia-social i {
    color: var(--branco-e5e5e5);
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
    padding: 15px 0 0 0;
}
.conteudo-principal .midia-social i:hover {
    color: var(--azul-007ced);
    transform: rotate(360deg);
}
/* Responsividade design & displaying navbar for small screen */
@media (max-width: 790px) {
    nav .menu {
        display: initial;
    }
    .click {
        top: 45px
    }
    .click span {
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform: rotate(-40deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-texto {
        position: absolute;
        top: 110px;
        right: 100%; /* -100% */
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: var(--preto-222);
        z-index: 3;
        box-shadow: 5px 13px 30px var(--preto-rgba-00001);
        transition: 0.5s;
        padding: 25px 0;
    }
    nav .menu-texto li {
        display: block;
    }
    nav .menu-texto li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .menu-texto.open {
        right: 0;
    }
}
@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
        padding-top: 2rem;
    }
    .conteudo-principal {
        padding: 40px 0;
    }
    section#img01 > p, section#img02 > p, section#img03 > p, section#img04 > p {
        font-size: 1em;
    }
    section#img01 > p {
        font-size: 1.5em;
    }
    section#img05 h1 {
        font-size: 1.5em;
    }
    section#normalL > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: normal;
    }
}
main {
    background: var(--branco-ffffff);
}
section.normal > p {
    display: inline-block;
    background-color: rgba(77, 73, 73, 0.089);
    text-shadow: 1px 1px 0 black;
    text-align: justify;
    font-size: 2em;
    padding: 70px;
}
section#img01 {
    background-image: url('../imagens/saracura-tres-potes.jpg');
    background-position: right center;
}
section#img02 {
    background-image: url('../imagens/original.jpeg');
    background-position: right center;
}
section#img03 {
    background-image: url('../imagens/saracura-tres.jpg');
    background-position: right center;
}
section#img04 {
    background-image: url('../imagens/Saracura-do-Mato.jpg');
    background-position: right center;
}
section#img05 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}
section.imagem {
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(51, 51, 51);
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.473);
}
section.imagem > p {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0 black;
    text-align: justify;
    font-size: 2em;
    padding: 70px;
}


section.imagem > h1 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0 black;
    text-align: justify;
    font-size: 2em;
    padding: 70px;
}

footer p {
    background-color: var(--preto-222);
    color: var(--branco-ffffff);
    text-align: center;
    height: 100px;
    margin: 10px 0 0 0;
    padding: 50px;
}